<footer>
  <nav>
    <div class="footer--col-1">
      <div class="flex-ctn">
        <li class="item--category">Product</li>
        <li><a class="flex-item" href="/">abc</a></li>
        <li><a class="flex-item" href="#">xyz</a></li>
      </div>
    </div>

    <div class="footer--col-2">
      <div class="flex-ctn">
        <li>
          <a href="#">
            <i class="fad fa-comments-alt fa-2x logo"></i>
          </a>
        </li>

        <% if(!currentUser){ %>
        <li><a class="flex-item" href="#">Login</a></li>
        <li><a class="flex-item" href="/register">Sign Up</a></li>
        <% } else { %>
        <li class="flex-item">
          <a href="#">Signed is as <%= currentUser.username %></a>
        </li>
        <li class="flex-item"><a href="/logout">Logout</a></li>
        <% } %>
      </div>
    </div>

    <div class="footer--col-3">
      <div class="flex-ctn">
        <li class="item--category">Company</li>
        <li>
          <a class="flex-item" href="#">About Us</a>
        </li>
        <li>
          <a class="flex-item" href="#">blog</a>
        </li>
      </div>
    </div>
  </nav>
</footer>
