<header>
  <nav>
    <ul>
      <div class="header--flex header__nav--items">
        <li><a href="/">Home</a></li>
        <% if(!currentUser){ %>
        <li><a href="/login">Login</a></li>
        <li>
          <a href="/register">Sign Up</a>
        </li>
        <% } else { %>
        <li>
          <a href="#">Signed in is as <%= currentUser.username %></a>
        </li>
        <li><a href="/logout">Logout</a></li>
        <% } %>
      </div>
    </ul>
  </nav>
</header>
