<header>
  <nav class="header--grid">
    <section class="header--col-1">
      <div class="header--flex-ctn-1">
        <li class="flex-item--logo">
          <a href="#">   <i class="fad fa-comments-alt fa-2x"></i> </a>
        </li>
        <li><a href="/">Lets Chat</a></li>
      </div>
    </section>

    <section class="header--col-2">
      <div class="header--flex-ctn-2">
        <% if(!currentUser){ %>
        <li><a href="/login">Login</a></li>
        <li>
          <a href="/register">Sign Up</a>
        </li>
        <% } else { %>
        <li>
          <a href="#">Signed in is as <%= currentUser.username %></a>
        </li>
        <li><a href="/logout">Logout</a></li>
        <% } %>
      </div>
    </section>
  </nav>
</header>
