<header>
  <nav>
      <ul>
        <li>
          <a href="/">
            <i class="fad fa-comments-alt fa-5x"></i>
          </a>
        </li>
        <li class="flex--item">Let's Chat</a></li>
      </ul>
    <div class="user">
      <div>
        <% if(!currentUser){ %>
        <div class="btn--ctn">
          <button class="btn">
            <a href="/">Login</a>
          </button>
        </div>  
        <div class="btn--ctn">
          <button class="btn">
            <a href="/register">Sign Up</a>
          </button>
        </div>    
        <% } else { %>
        <div>
          <li class="user--active"> User:
            <a class="username"href="#"><%= currentUser.username %></a>
          </li>
          <button class="btn">
            <a href="/logout">Logout</a>
          </button>          
          <% } %>
        </div>    
      </div>
  </nav>
</header>


