<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link type="text/css" rel="stylesheet" href="/css/app.css" />
    <title>DevChat</title>
  </head>
  <body>
    <%- include('../partials/header.ejs') %>
    <hr />
    <br />
    <%- body %>
    <br />
    <hr />
    <%- include('../partials/footer.ejs') %>
  </body>
</html>
