*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

body {
  display: grid;
  grid-template-columns: 1fr;
  box-sizing: border-box;
  height: 100vh;
  font-size: 62.5%;
  font-family: Verdana, Geneva, Tahoma, sans-serif; }

.main--grid {
  height: 70vh;
  border-radius: 0.5rem;
  margin: 0.25rem; }

header {
  background-color: #fff;
  border-radius: 0.5rem;
  height: 10vh;
  margin: 0.25rem; }
  header a {
    font-size: 1.5rem;
    color: #00879a; }
  header li span a {
    color: #8c0874;
    margin-top: 1rem; }
  header .header--btn {
    border-radius: 0.5rem;
    padding: 0.25rem 1rem;
    background-color: #8c0874;
    border-style: none; }
    header .header--btn a {
      color: #fff; }
  header .header--grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-areas: "col-1 col-2";
    height: 7vh; }
  header .section--col-1 {
    grid-area: col-1;
    list-style-type: none; }
  header .flex-ctn-1 {
    display: flex;
    justify-content: start;
    align-items: center;
    margin-top: 0.1rem;
    padding: 0.25rem 0.25rem 0.25rem 1rem; }
  header .section--col-2 {
    grid-area: col-2;
    list-style-type: none; }
  header .flex-ctn-2 {
    display: flex;
    justify-content: end;
    margin-top: 0.1rem;
    padding: 0.25rem 1rem 0.25rem 0.25rem; }
  header .flex--item {
    padding-right: 0.5rem; }
  header .flex-item--logo {
    padding: 0 1rem 0.5rem 0; }

footer {
  background-color: #00879a;
  border-radius: 0.5rem;
  height: 20vh;
  margin: 0.25rem;
  color: #fff; }

a {
  color: #ffffff; }

.footer--grid {
  font-size: 1rem;
  display: grid;
  grid-template-columns: 2fr 2fr 0.5fr;
  grid-template-areas: "column-2 column-1 column-3"; }

.footer--col-1 {
  grid-area: column-1;
  list-style-type: none; }

.footer--col-2 {
  grid-area: column-2;
  list-style-type: none; }

.footer--col-3 {
  grid-area: column-3;
  list-style-type: none; }

.footer--flex-ctn {
  display: flex;
  flex-direction: column;
  padding: 0.75rem; }

.footer--flex-item {
  font-size: 0.8rem;
  padding: 0.25rem 0 0.25rem 0;
  text-shadow: 0.025rem 0.025rem black; }

.flex-item--category {
  font-size: 1rem;
  text-shadow: 0.025rem 0.025rem black; }

.channel__index--section {
  display: flex; }

.channel__interests--section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 1.5rem;
  padding: 0.5rem; }
  .channel__interests--section .interests__main {
    background-color: #2a61c7e5; }
  .channel__interests--section .interests--h1 {
    margin-top: 3rem;
    margin-bottom: 3rem;
    text-shadow: 0.1rem 0.1rem black; }
  .channel__interests--section .interests--span {
    font-size: 1.25rem;
    text-shadow: 0.1rem 0.1rem black; }
  .channel__interests--section #interests--btn {
    margin-top: 2.5rem;
    margin-left: 1.25rem;
    box-shadow: 0.05rem 0.1rem black;
    font-weight: bold; }

.channel__landing--section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center; }
  .channel__landing--section li {
    list-style-type: none;
    font-size: 2rem; }
  .channel__landing--section li > a {
    list-style-type: none;
    font-size: 2.5rem; }

.index__login--section {
  display: flex; }

.index__profile--section {
  display: flex; }

.index__register--section {
  display: grid;
  grid-template-rows: 1fr 1fr;
  grid-template-areas: "box1" "box2" "box3" "box4";
  grid-row-gap: 1rem; }
  .index__register--section .register--section-1 {
    grid-area: box1;
    display: flex;
    justify-content: center;
    margin-top: 7.5rem; }
  .index__register--section .register--section-2 {
    grid-area: box2;
    display: flex;
    justify-content: center;
    margin-top: 10rem; }
  .index__register--section .register--section-3 {
    grid-area: box3;
    display: flex;
    justify-content: center;
    margin-top: -1rem; }
  .index__register--section .register--section-4 {
    grid-area: box4;
    display: flex;
    justify-content: center;
    margin-top: 1rem; }

/* components */
a {
  text-decoration: none; }

li {
  list-style-type: none; }

.button {
  padding: 0.5rem 1rem;
  font-size: 1rem;
  border-radius: 0.5rem; }

input {
  font-size: 1rem;
  border-radius: 0.25rem; }

input.checkbox {
  height: 1.25rem;
  width: 2rem;
  margin-top: 1rem; }
