*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

body {
  display: grid;
  grid-template-columns: 1fr;
  box-sizing: border-box;
  height: 100vh;
  font-size: 62.5%;
  font-family: Verdana, Geneva, Tahoma, sans-serif; }
  body a {
    color: white; }

.main--grid {
  height: 90vh;
  border-radius: 0.5rem;
  margin: 0.25rem; }

.main--grid-channels .channel--grid {
  display: grid;
  height: 90vh;
  border-radius: 0.5rem;
  grid-gap: 10px;
  grid-template-columns: repeat(5, 1fr);
  background-color: #fff;
  color: #444;
  grid-template-areas: 'box1 box1 box1 box1 box1' 'box3 box5 box5 box5 box2' 'box3 box4 box4 box4 box2' 'box3 box4 box4 box4 box2' 'box3 box4 box4 box4 box2' 'box3 box4 box4 box4 box2' 'box3 box4 box4 box4 box2'; }
  .main--grid-channels .channel--grid .boxes {
    background-color: #444;
    color: #fff;
    border-radius: 0.05rem;
    padding: 1rem;
    font-size: 1rem;
    border-radius: 0.5rem;
    overflow-y: scroll; }
  .main--grid-channels .channel--grid .box1 {
    grid-area: box1;
    padding: 0.75rem;
    background-color: #8c0874; }
  .main--grid-channels .channel--grid .box2 {
    grid-area: box2; }
  .main--grid-channels .channel--grid .box3 {
    grid-area: box3;
    overflow-y: scroll; }
  .main--grid-channels .channel--grid .box4 {
    grid-area: box4;
    background-color: #00879a; }
  .main--grid-channels .channel--grid .box5 {
    grid-area: box5; }
  .main--grid-channels .channel--grid .channel-sidebar {
    margin-bottom: 1rem;
    color: #00879a; }
  .main--grid-channels .channel--grid .channels-title {
    margin-bottom: 1rem;
    font-weight: bold; }
  .main--grid-channels .channel--grid .posts-title {
    margin-left: 0.25rem; }
  .main--grid-channels .channel--grid .main-title {
    font-weight: bold; }

header nav {
  background-color: #fff;
  border-radius: 0.5rem;
  height: 10vh;
  margin: 0.25rem;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-areas: 'box1 box2';
  height: 7vh;
  grid-area: box1;
  list-style-type: none; }
  header nav ul {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin-top: 0.1rem;
    padding: 0.25rem 0.25rem 0.25rem 1rem;
    color: #fff; }
    header nav ul li a {
      padding: 0 1rem 0.5rem 0;
      color: #00879a; }
    header nav ul .flex--item {
      color: #a37c02;
      margin-top: 0.75rem;
      font-size: 1.5rem;
      font-weight: bold; }
  header nav .user {
    grid-area: box2;
    list-style-type: none; }
    header nav .user div {
      display: flex;
      justify-content: flex-end;
      margin-top: 0.1rem;
      padding: 0.25rem 1rem 0.25rem 0.25rem; }
      header nav .user div .btn--ctn {
        display: flex;
        padding-right: 0.5rem; }
      header nav .user div .user--active {
        padding-right: 1.5rem;
        font-size: 1.5rem; }
        header nav .user div .user--active .username {
          color: #8c0874; }
  header nav .btn {
    border-radius: 0.5rem;
    padding: 0.25rem 1rem;
    background-color: #8c0874;
    border-style: none; }
    header nav .btn a {
      color: #fff;
      font-size: 1.5rem; }

footer nav {
  background-color: #00879a;
  color: #fff;
  height: 20vh;
  font-size: 1rem;
  display: grid;
  grid-template-columns: 2fr 2fr 0.5fr;
  grid-template-areas: 'column-2 column-1 column-3'; }
  footer nav a {
    color: #fff; }
  footer nav .footer--col-1 {
    grid-area: column-1;
    list-style-type: none; }
  footer nav .footer--col-2 {
    grid-area: column-2;
    list-style-type: none; }
  footer nav .footer--col-3 {
    grid-area: column-3;
    list-style-type: none; }
  footer nav .flex-ctn {
    display: flex;
    flex-direction: column;
    padding: 0.75rem; }
    footer nav .flex-ctn .item--category {
      color: #fff;
      font-size: 1rem;
      font-weight: bold; }
    footer nav .flex-ctn .flex-item {
      font-size: 0.75rem;
      padding: 0.25rem 0 0.25rem 0; }
    footer nav .flex-ctn .logo {
      color: #fff;
      margin-bottom: 0.25rem; }

.channel__index--section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center; }
  .channel__index--section h1 {
    font-size: 2rem; }
  .channel__index--section .index--ctn-items {
    padding: 1rem; }
  .channel__index--section .index--items {
    color: #8c0874;
    font-size: 1.25rem; }

.channel__interests {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 1.5rem;
  padding: 1rem; }
  .channel__interests h2 {
    margin: 5rem 0 2.5rem 0; }
    .channel__interests h2 span {
      color: #00879a; }
  .channel__interests .checkbox-ctn label input {
    height: 1rem;
    width: 2rem;
    margin-top: 1rem; }
  .channel__interests .btn-ctn {
    display: flex;
    justify-content: center;
    align-items: center; }
    .channel__interests .btn-ctn .btn {
      margin-top: 1.5rem;
      padding: 0.5rem 1rem;
      border-radius: 0.5rem;
      background-color: #8c0874;
      border-style: none;
      color: #fff; }

.channel__landing--section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center; }
  .channel__landing--section li {
    list-style-type: none;
    font-size: 2rem; }
  .channel__landing--section li > a {
    list-style-type: none;
    font-size: 2.5rem; }

.index--home {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 7rem; }
  .index--home .title {
    font-size: 2rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; }
    .index--home .title span {
      color: #00879a;
      display: flex;
      margin-top: 0.5rem;
      align-items: center;
      justify-content: center; }
    .index--home .title .subtitle {
      margin-top: 5rem;
      font-size: 0.8rem; }
    .index--home .title .logo {
      margin-top: 5rem;
      color: #a37c02; }
  .index--home .credentials .btn {
    margin: 1rem 0 0 3.5rem;
    padding: 0.25rem 0.5rem;
    border-radius: 0.5rem;
    background-color: #8c0874;
    border-style: none;
    color: #fff; }
  .index--home .credentials .fb {
    margin-top: 1rem;
    display: flex;
    align-items: center;
    justify-content: center; }
    .index--home .credentials .fb h3 {
      font-size: 0.75rem; }
    .index--home .credentials .fb .logo {
      color: #8c0874; }
    .index--home .credentials .fb a {
      font-size: 1rem;
      padding-left: 0.25rem;
      color: grey;
      opacity: 75%; }
  .index--home .credentials .email {
    margin-top: 2rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; }
    .index--home .credentials .email .logo {
      margin-bottom: 1rem;
      color: #a37c02; }
    .index--home .credentials .email input {
      border-radius: 0.5rem;
      margin-top: 0.5rem;
      padding: 0.2rem;
      border-style: none;
      box-shadow: 0.025rem 0.05rem 0.25rem black; }
    .index--home .credentials .email button {
      margin-top: 1.25rem;
      opacity: 90%; }
  .index--home .dashboard {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; }
    .index--home .dashboard h1 {
      font-size: 3rem; }
    .index--home .dashboard h3 {
      margin-top: 1.5rem;
      font-size: 1.5rem; }
      .index--home .dashboard h3 a {
        font-size: 1.5rem;
        color: #8c0874; }

.index--register,
.reply,
.edit {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 10rem; }
  .index--register .btn,
  .reply .btn,
  .edit .btn {
    margin: 1rem 0 0 3.5rem;
    padding: 0.25rem 0.5rem;
    border-radius: 0.5rem;
    background-color: #8c0874;
    border-style: none;
    color: #fff;
    outline: none; }

/* components */
a {
  text-decoration: none; }

li {
  list-style-type: none; }

.input-register,
.input-edit {
  border-radius: 0.5rem;
  margin-top: 0.5rem;
  padding: 0.2rem;
  border-style: none;
  box-shadow: 0.025rem 0.05rem 0.25rem black; }

.edit-ctn {
  margin-top: 5rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center; }
  .edit-ctn select {
    outline: none;
    border-style: none;
    padding: 0.25rem; }

.input-edit {
  margin-top: 1rem;
  margin-bottom: 1rem; }

.edit-btn {
  margin: 1rem 0 0 3.1rem;
  padding: 0.5rem 1rem;
  border-radius: 0.5rem;
  background-color: #8c0874;
  border-style: none;
  color: #fff;
  outline: none; }

input,
.post,
.tag {
  font-size: 1rem;
  border-radius: 0.5rem;
  outline: none; }

.main-post-ctn {
  display: flex;
  align-items: center;
  justify-content: center;
  resize: none; }
  .main-post-ctn .post {
    margin-top: 0.5rem;
    padding: 0.5rem;
    width: 20rem;
    max-width: 20rem;
    height: 3rem;
    max-height: 3rem;
    resize: none;
    border-style: none; }
  .main-post-ctn .post-btn {
    margin-top: 0.25rem;
    border-radius: 0.5rem;
    padding: 1rem 1.5rem;
    outline: none;
    background-color: #a37c02;
    color: #fff;
    border-style: none; }

.channels-post-ctn {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-areas: 'ctn1 ctn3 ctn2'; }
  .channels-post-ctn .ctn1 {
    grid-area: ctn1;
    justify-self: end; }
    .channels-post-ctn .ctn1 .post {
      padding: 0.15rem 0.5rem;
      width: 20rem;
      max-width: 20rem;
      height: 2em;
      border-style: none; }
  .channels-post-ctn .ctn2 {
    grid-area: ctn2; }
    .channels-post-ctn .ctn2 .tag {
      padding: 0.5rem 0.75rem;
      border-style: none; }
  .channels-post-ctn .ctn3 {
    grid-area: ctn3;
    padding-left: 0.3rem; }
    .channels-post-ctn .ctn3 .btn-post {
      border-radius: 0.5rem;
      padding: 0.55rem 0.6rem;
      border-style: none;
      background-color: #a37c02;
      color: #fff; }

select {
  font-size: 1rem;
  border-radius: 1rem;
  outline: none;
  box-shadow: 0.025rem 0.05rem 0.25rem black;
  margin-left: 2rem; }

.search-bar .logo {
  color: #fff; }

.posts-flex {
  display: flex;
  justify-content: start; }

button {
  outline: none; }

.input-search {
  border-style: none;
  padding: 0.1rem 0 0 0.5rem; }

.main-comments-box4 {
  display: flex;
  flex-direction: column-reverse;
  padding: 0.5rem 0 0.5rem 0; }
  .main-comments-box4 li {
    flex: 0 0 auto; }

.btn-panel-box4 {
  display: flex; }

.btn-box4,
.btn-box4 a {
  margin-top: 0.25rem;
  border-radius: 0.5rem;
  padding: 0.1rem 0.25rem;
  outline: none;
  border-style: none;
  color: #8c0874;
  background: #fff; }
