
<main class="main--grid">
  <section class="index__login--section">
    <h1>#index_login</h1>
    <form action="/login" method="POST">
      <input type="text" name="username" placeholder="username" />
      <input type="password" name="password" placeholder="password" />
      <button type="submit">Submit</button>
      <a href="">Login using FaceBook</a>
    </form>
  </section>
  <% if (!user) { %>
    <div style="width:500px;height:180px;">
      <h3 style="font-size:40px;">Welcome! Please log in.</h>
      <a href="/auth/facebook">facebook</a>
    </div>
    
     
</main>

