<main class="main--grid">
  <section class="index__register--section">
    <div class="register--section-1">
      <i class="fad fa-comments-alt fa-9x logo"></i> 
    </div>
    <div class="register--section-2">
      <form action="/register" method="POST">
      <input type="text" name="username" placeholder="username" />
    </div>
    <div class="register--section-3">
      <input type="password" name="password" placeholder="password" />
    </div>
    <div class="register--section-4">
      <button class="button type="submit">Submit</button>
    </div>
      </form>
    </div>
  </section>
</main>
