<main class="main--grid">
  <div class="index--register">
    <h1>Please Register</h1>
    <br />
    <form action="/register" method="POST">
      <input class="input-register type="text" name="username"
      placeholder="Email" />
      <br />
      <br />
      <input
        class="input-register"
        type="password"
        name="password"
        placeholder="Password"
      />
      <br />
      <button class="btn" type="submit">Submit</button>
    </form>
  </div>
</main>

<%- include("../partials/footer.ejs") %>
