<main class="main--grid">
  <div class="index--register">
    <h1>Please Register</h1>
    <br />
    <form action="/register" method="POST">
      <input type="text" name="username" placeholder="Enter email" />
      <br />
      <br />
      <input type="password" name="password" placeholder="password" />
      <br />
      <button class="btn" type="submit">Submit</button>
    </form>
  </div>
</main>
