<div class="wrapper">
    <div class="box header">
        <h1>#<%= currentChannel.name %> channel</h1>
    </div>
    <aside class="channel__sidebar">
        <li>channel 1</li>
        <li>channel 2</li>
        <li>channel 3</li>
        <li>channel 4</li>
        <li>channel 5</li>
    </aside>
    <aisde class="post__sidebar">
        <li>post by index/grouping</li>
        <li>post by index/grouping</li>
        <li>post by index/grouping</li>    
    </aside>
    <div class="main__posts">
      <li>suh dude</li>
      <li>yo dude</li>
      <li>hi dude</li>
      <li>doooo dude</li>
      <li>dodo</li>
      <li>poo poo</li>
      <li>fuck you debugging channel</li>
    </div>
    <div class="post">
        <input class="post"type="placeholder=Share your shit, bitch">
    </div>


