<main class="main--grid">
  <section class="channel__index--section">
  
    <h1>#channel_index</h1>
    <ul>
      <% user.interests.forEach(interest => { %>
      <% interest.name.forEach(item => { %>
      <li>
        <a href="/channel/<%= currentUser.id %>/<%= item %>"><%= item %></a>
      </li>
      <% }) %>âˆ
      <% }) %>
    </ul>
  </section>
</main>




