<main class="main--grid">
  <section class="channel__index--section">
    <h1>#channel_index</h1>
    <ul>
      <% user.interests.forEach(interest => { %>
      <% interest.name.forEach(item => { %>     
      <li class="index--ctn-items">
        <a class="index--items" href="/channel/<%= currentUser.id %>/<%= item %>"><%= item %></a>
      </li>
            <% }) %>
      <% }) %>
    </ul>
  </section>
</main>




