<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div>
        <ul>
            <a href="/"></a>
            <% if(!currentUser){ %>
                <li><a href="/login">Login</a></li>
                <li><a href="/register">Sign Up</a></li>
            <% } else { %>
                <a href="#"><li>Signed is as <%= currentUser.username %></li></a>
                <li><a href="/logout">Logout</a></li>	
            <% } %>
        </ul>
    </div>
</nav>
    <h1>This is the "choose your interests page</h1>

    <form>
        <% interests.forEach(interest => { %>
            <label for="<% interest.name %>"><%= interest.name %></label>
            <input type="checkbox" id="<% interest.name %>" name="<% interest.name %>" value="<% interest.name %>"> <br>
        <% }) %>
        <button type="submit">Submit</button>
        </form>
</body>
</html>