<main class="main--grid">
  <div class="channel--grid">
      <div class="boxes box1">Header</div>
      <div class="boxes box2">Post Sidebar</div>
      <div class="boxes box3">Channel Sidebar</div>
      <div class="boxes box4">Main</div>
      <div class="boxes box5">Make a Post</div>
  </div>
</main>