<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>This is the <%= currentChannel.name %> channel</h1>

    

    <form action="/channel/<%= currentUser._id %>/<%= currentChannel.name %>" method="POST">
        <input type="text" name="text" placeholder="text"> <br>
        <input type="text" name="date" placeholder="date"> <br>
        <input type="text" name="tag" placeholder="tag"> <br>
        <button type="submit">Submit</button>
    </form>
</body>
</html>