$primary-color: #00879a;
$secondary-color: #8c0874;
$tertiary-color: #a37c02;
$base-color: #fff;

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

body {
  display: grid;
  grid-template-columns: 1fr;
  box-sizing: border-box;
  height: 100vh;
  font-size: 62.5%;
  font-family: Verdana, Geneva, Tahoma, sans-serif;

  a {
    color: white;
  }
}

.main--grid {
  height: 90vh;
  border-radius: 0.5rem;
  margin: 0.25rem;
}

.main--grid-channels {
  .channel--grid {
    display: grid;
    height: 90vh;
    border-radius: 0.5rem;
    grid-gap: 10px;
    grid-template-columns: repeat(5, 1fr);
    // grid-template-rows: repeat(4, 1fr);
    background-color: $base-color;
    color: #444;

    grid-template-areas:
      'box1 box1 box1 box1 box1'
      'box3 box5 box5 box5 box2'
      'box3 box4 box4 box4 box2'
      'box3 box4 box4 box4 box2'
      'box3 box4 box4 box4 box2'
      'box3 box4 box4 box4 box2'
      'box3 box4 box4 box4 box2';

    .boxes {
      background-color: #444;
      color: $base-color;
      border-radius: 0.05rem;
      padding: 1rem;
      font-size: 1rem;
      border-radius: 0.5rem;
      overflow-y: scroll;
    }

    .box1 {
      grid-area: box1;
      padding: 0.75rem;
      background-color: $secondary-color;
    }
    .box2 {
      grid-area: box2;
    }
    .box3 {
      grid-area: box3;
      overflow-y: scroll;
    }

    .box4 {
      grid-area: box4;
      background-color: $primary-color;
    }

    .box5 {
      grid-area: box5;
    }

    .channel-sidebar {
      margin-bottom: 1rem;
      color: $primary-color;
    }

    .channels-title {
      margin-bottom: 1rem;
      font-weight: bold;
    }

    .posts-title {
      margin-left: 0.25rem;
    }

    .main-title {
      font-weight: bold;
    }
  }
}

header nav {
  background-color: $base-color;
  border-radius: 0.5rem;
  height: 10vh;
  margin: 0.25rem;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-areas: 'box1 box2';
  height: 7vh;
  grid-area: box1;
  list-style-type: none;

  ul {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin-top: 0.1rem;
    padding: 0.25rem 0.25rem 0.25rem 1rem;
    color: $base-color;

    li a {
      padding: 0 1rem 0.5rem 0;
      color: $primary-color;
    }

    .flex--item {
      color: $tertiary-color;
      margin-top: 0.75rem;
      font-size: 1.5rem;
      font-weight: bold;
    }
  }

  .user {
    grid-area: box2;
    list-style-type: none;

    div {
      display: flex;
      justify-content: flex-end;
      margin-top: 0.1rem;
      padding: 0.25rem 1rem 0.25rem 0.25rem;

      .btn--ctn {
        display: flex;
        padding-right: 0.5rem;
      }

      .user--active {
        padding-right: 1.5rem;
        font-size: 1.5rem;

        .username {
          color: $secondary-color;
        }
      }
    }
  }

  .btn {
    border-radius: 0.5rem;
    padding: 0.25rem 1rem;
    background-color: $secondary-color;
    border-style: none;

    a {
      color: $base-color;
      font-size: 1.5rem;
    }
  }
}

footer {
  nav {
    background-color: $primary-color;
    color: $base-color;
    height: 20vh;
    font-size: 1rem;
    display: grid;
    grid-template-columns: 2fr 2fr 0.5fr;
    grid-template-areas: 'column-2 column-1 column-3';

    a {
      color: $base-color;
    }

    .footer--col-1 {
      grid-area: column-1;
      list-style-type: none;
    }

    .footer--col-2 {
      grid-area: column-2;
      list-style-type: none;
    }

    .footer--col-3 {
      grid-area: column-3;
      list-style-type: none;
    }

    .flex-ctn {
      display: flex;
      flex-direction: column;
      padding: 0.75rem;

      .item--category {
        color: $base-color;
        font-size: 1rem;
        font-weight: bold;
      }

      .flex-item {
        font-size: 0.75rem;
        padding: 0.25rem 0 0.25rem 0;
      }

      .logo {
        color: $base-color;
        margin-bottom: 0.25rem;
      }
    }
  }
}

.channel__index--section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  h1 {
    font-size: 2rem;
  }

  .index--ctn-items {
    padding: 1rem;
  }

  .index--items {
    color: $secondary-color;
    font-size: 1.25rem;
  }
}

.channel__interests {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 1.5rem;
  padding: 1rem;

  h2 {
    margin: 5rem 0 2.5rem 0;

    span {
      color: $primary-color;
    }
  }

  .checkbox-ctn label input {
    height: 1rem;
    width: 2rem;
    margin-top: 1rem;
  }

  .btn-ctn {
    display: flex;
    justify-content: center;
    align-items: center;

    .btn {
      margin-top: 1.5rem;
      padding: 0.5rem 1rem;
      border-radius: 0.5rem;
      background-color: $secondary-color;
      border-style: none;
      color: $base-color;
    }
  }
}

.channel__landing--section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  li {
    list-style-type: none;
    font-size: 2rem;
  }

  li > a {
    list-style-type: none;
    font-size: 2.5rem;
  }
}

.index--home {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 7rem;

  .title {
    font-size: 2rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    span {
      color: $primary-color;
      display: flex;
      margin-top: 0.5rem;
      align-items: center;
      justify-content: center;
    }

    .subtitle {
      margin-top: 5rem;
      font-size: 0.8rem;
    }

    .logo {
      margin-top: 5rem;
      color: $tertiary-color;
    }
  }

  .credentials {
    .btn {
      margin: 1rem 0 0 3.5rem;
      padding: 0.25rem 0.5rem;
      border-radius: 0.5rem;
      background-color: $secondary-color;
      border-style: none;
      color: $base-color;
    }

    .fb {
      margin-top: 1rem;
      display: flex;
      align-items: center;
      justify-content: center;

      h3 {
        font-size: 0.75rem;
      }

      .logo {
        color: $secondary-color;
      }
      a {
        font-size: 1rem;
        padding-left: 0.25rem;
        color: grey;
        opacity: 75%;
      }
    }

    .email {
      margin-top: 2rem;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;

      .logo {
        margin-bottom: 1rem;
        color: $tertiary-color;
      }

      input {
        border-radius: 0.5rem;
        margin-top: 0.5rem;
        padding: 0.2rem;
        border-style: none;
        box-shadow: 0.025rem 0.05rem 0.25rem black;
      }

      button {
        margin-top: 1.25rem;
        opacity: 90%;
      }
    }
  }

  .dashboard {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    h1 {
      font-size: 3rem;
    }

    h3 {
      margin-top: 1.5rem;
      font-size: 1.5rem;

      a {
        font-size: 1.5rem;
        color: $secondary-color;
      }
    }
  }
}

.index--register,
.reply,
.edit {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 10rem;

  .btn {
    margin: 1rem 0 0 3.5rem;
    padding: 0.25rem 0.5rem;
    border-radius: 0.5rem;
    background-color: $secondary-color;
    border-style: none;
    color: $base-color;
    outline: none;
  }
}

/* components */
a {
  text-decoration: none;
}

li {
  list-style-type: none;
}

// .button {
//   padding: 0.5rem 1rem;
//   font-size: 1rem;
//   border-radius: 0.5rem;
// }

.input-register,
.input-edit {
  border-radius: 0.5rem;
  margin-top: 0.5rem;
  padding: 0.2rem;
  border-style: none;
  box-shadow: 0.025rem 0.05rem 0.25rem black;
}

.edit-ctn {
  margin-top: 5rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  select {
    outline: none;
    border-style: none;
    padding: 0.25rem;
  }
}

.input-edit {
  margin-top: 1rem;
  margin-bottom: 1rem;
}

.edit-btn {
  margin: 1rem 0 0 3.1rem;
  padding: 0.5rem 1rem;
  border-radius: 0.5rem;
  background-color: $secondary-color;
  border-style: none;
  color: $base-color;
  outline: none;
}

input,
.post,
.tag {
  font-size: 1rem;
  border-radius: 0.5rem;
  outline: none;
}

.main-post-ctn {
  display: flex;
  align-items: center;
  justify-content: center;
  resize: none;

  .post {
    margin-top: 0.5rem;
    padding: 0.5rem;
    width: 20rem;
    max-width: 20rem;
    height: 3rem;
    max-height: 3rem;
    resize: none;
    border-style: none;
  }

  .post-btn {
    margin-top: 0.25rem;
    border-radius: 0.5rem;
    padding: 1rem 1.5rem;
    outline: none;
    background-color: $tertiary-color;
    color: $base-color;
    border-style: none;
  }
}

.channels-post-ctn {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-areas: 'ctn1 ctn3 ctn2';

  .ctn1 {
    grid-area: ctn1;
    justify-self: end;
    .post {
      padding: 0.15rem 0.5rem;
      width: 20rem;
      max-width: 20rem;
      height: 2em;
      border-style: none;
    }
  }

  .ctn2 {
    grid-area: ctn2;

    .tag {
      padding: 0.5rem 0.75rem;
      border-style: none;
    }
  }

  .ctn3 {
    grid-area: ctn3;
    padding-left: 0.3rem;
    .btn-post {
      border-radius: 0.5rem;
      padding: 0.55rem 0.6rem;
      border-style: none;
      background-color: $tertiary-color;
      color: $base-color;
    }
  }
}

select {
  font-size: 1rem;
  border-radius: 1rem;
  outline: none;
  box-shadow: 0.025rem 0.05rem 0.25rem black;
  margin-left: 2rem;
}

.search-bar {
  .logo {
    color: $base-color;
  }
}

.posts-flex {
  display: flex;
  justify-content: start;
}

button {
  outline: none;
}

.input-search {
  border-style: none;
  padding: 0.1rem 0 0 0.5rem;
}

.main-comments-box4 {
  display: flex;
  flex-direction: column-reverse;
  padding: 0.5rem 0 0.5rem 0;

  li {
    flex: 0 0 auto;
  }
}

.btn-panel-box4 {
  display: flex;
}

.btn-box4,
.btn-box4 a {
  margin-top: 0.25rem;
  border-radius: 0.5rem;
  padding: 0.1rem 0.25rem;
  outline: none;
  border-style: none;
  color: $secondary-color;
  background: $base-color;
}
